

.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.uk-input{
	margin-left: 15px;
}

.ethrnetRemodal{
  height:235px;
  width: 250px;
}

#saveResultBtn{
  text-align: right;
  margin-top: 10px;
}

.uk-offcanvas-content{
  width: 350px;
}

.select2-container{
    width: 100% !important;
}
.select2-selection__choice{
    background-color: #232322 !important;
    border: 1px solid #444 !important;
}

#vlan_goup{
    padding-top: 10px;
}

/** ELEMENT POSITIONS **/
#dragDropWindow1 { top:62px; left:62px; content:url("monitor.png"); width: 64px; height: 64px;}
#dragDropWindow2 { top:62px; left:600px; }
#dragDropWindow3 { top:340px; left:100px; }
#dragDropWindow4 { top:416px; left:600px; }

#drag1 {
    margin-left: 15px;
    margin-top: 15px;
    background-image: url("../draggableConnectors/images/1-wifi-dragged.png");
    width: 64px;
    height: 64px;
    z-index: 31;
}

/*#drag1:hover::after{*/
/*content: attr(data-title); !* Выводим текст *!*/
/*position: absolute; !* Абсолютное позиционирование *!*/
/*left: 10px; top: 10px; !* Положение подсказки *!*/
/*z-index: 1; !* Отображаем подсказку поверх других элементов *!*/
/*background: rgba(255,255,230,0.9); !* Полупрозрачный цвет фона *!*/
/*font-family: Arial, sans-serif; !* Гарнитура шрифта *!*/
/*font-size: 11px; !* Размер текста подсказки *!*/
/*padding: 5px 10px; !* Поля *!*/
/*border: 1px solid #333; !* Параметры рамки *!*/
/*}*/

#drag2 {
    margin-left: 15px;
    margin-top: 15px;
    background-image: url("../draggableConnectors/images/2-lan-dragged.png");
    width: 64px;
    height: 64px;
    z-index: 31;
}

#drag3 {
    margin-left: 15px;
    margin-top: 15px;
    background-image: url("../draggableConnectors/images/7-switch-dragged.png");
    width: 64px;
    height: 64px;
    z-index: 31;
}

#drag5 {
    margin-left: 15px;
    margin-top: 15px;
    background-image: url("../draggableConnectors/images/5-server-dragged.png");
    width: 64px;
    height: 64px;
    z-index: 31;
}

/*#drag5:hover::after{*/
/*content: attr(data-title); !* Выводим текст *!*/
/*position: absolute; !* Абсолютное позиционирование *!*/
/*z-index: 1; !* Отображаем подсказку поверх других элементов *!*/
/*background: rgba(255,255,230,0.9); !* Полупрозрачный цвет фона *!*/
/*font-family: Arial, sans-serif; !* Гарнитура шрифта *!*/
/*font-size: 11px; !* Размер текста подсказки *!*/
/*padding: 5px 10px; !* Поля *!*/
/*border: 1px solid #333; !* Параметры рамки *!*/
/*}*/

#drag6 {
    margin-left: 15px;
    margin-top: 15px;
    background-image: url("../draggableConnectors/images/6-router-dragged.png");
    width: 64px;
    height: 64px;
    z-index: 31;
}

/* classes for dragged stuff */
.dragged1 {
    position: absolute;
    background-image: url("../draggableConnectors/images/1-wifi-dragged.png");
    width: 64px;
    height: 64px;
}

.dragged2 {
    position: absolute;
    background-image: url("../draggableConnectors/images/2-lan-dragged.png");
    width: 64px;
    height: 64px;
}

.dragged3 {
    position: absolute;
    background-image: url("../draggableConnectors/images/7-switch-dragged.png");
    width: 32px;
    height: 32px;
}

.dragged5 {
    position: absolute;
    background-image: url("../draggableConnectors/images/5-server-dragged.png");
    width: 32px;
    height: 32px;
}

.dragged6 {
    position: absolute;
    background-image: url("../draggableConnectors/images/6-router-dragged.png");
    width: 32px;
    height: 32px;
}



/** ELEMENTS **/
.drag-drop-demo .window {
    font-family: serif;
    font-style: italic;
    background-color: white;
    border: 1px solid #346789;
    text-align: center;
    z-index: 24;
    cursor: pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    position: absolute;
    color: black;
    padding-top: 5px;
    width: 64px;
    height: 64px;
    line-height: 12px;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.window:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}


.drag-drop-demo a, .drag-drop-demo a:visited {
    color:#057D9F;
}

.drag-drop-demo a:hover {
    color:orange;
}

/** LINKS IN WINDOWS **/
.drag-locked { border:1px solid red; }
.cmdLink { font-size:0.80em;}

/** DRAG/DROP CLASSES **/
.dragActive { border:2px dotted orange; }
.dropHover { border:1px dotted red; }


#connection_add{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
}

.systemBtn {
    margin-top: 15px !important;
}

.background_groups {
    background-color: #676767;
    width: 215px;
    height: 90px;
    text-align: center;
}

.number-input {
    color: #000;
}



/*.uk-form-width-medium{*/
    /*width: 100% !important;*/
/*}*/
/** INFO WINDOW **/
#list {
    text-align: center;
    display: none;
    font-size: 90%;
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 100px;
    background-color: white;
    padding: 5px;
    border: 1px solid #456;
    opacity: 0.8;
    border-radius: 8px;
    color: #444;
}
#list table { width:100%;}
#list table th, #list strong { color:black; font-size:12px; text-align: center; }

path, .jtk-endpoint { cursor:pointer; }
